build/
.build/
.zig/
.godot/
.mingw/
.vscode/
program/test
.sconsign.dblite
.DS_Store
*.o
*.os
*.elf
!modules/sandbox/thirdparty/libriscv/examples/embed/fib.rv64.elf
!modules/sandbox/thirdparty/libriscv/examples/noexcept/fib.rv64.elf

# Ignore all CPP files in the bintr directory
src/bintr/*.cpp
src/gen/

# UID files
*.uid
__pycache__/config.cpython-313.pyc
