*.autosave
*.bc
*.d
*.log
*.o
*.obj
*.pyc
*.tmp
*.dblite
.DS_Store
*.lib
*.exp
*.pdb
*.dll
*.ilk

shaders/dev/.godot/
*.gen.glsl
*.gen.h

# Un-ignore nuget.config (overrides *.config from root .gitignore)
!nuget.config
